* {
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  font-family: "Poppins";
  font-style: normal;
  color: white;
}
.gray {
  color: #707070;
}
.aqua {
  color: #3c82f4;
}
/* header style start */
header {
  width: 100%;
  height: 56px;
  margin-top: 46px;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo-text {
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  margin-left: 17px;
}
.header-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav-bar-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.header-nav-bar-link {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
  margin-right: 20px;
}
.header-nav-bar-list:hover,
.header-nav-bar-list:focus,
.header-nav-bar-list:active {
  opacity: 75%;
}
.header-log-sig {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-log {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-right: 24px;
}
.header-log:hover,
.header-log:focus,
.header-log:active {
  opacity: 75%;
}
.header-sign {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;

  width: 119px;
  height: 55px;

  background: #306ef7;
  border-radius: 10px;
}
.header-sign:hover,
.header-sign:focus,
.header-sign:active {
  opacity: 75%;
}
.header-burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #707070;
  position: absolute;
  left: 0;
}
.burger-line_first {
  top: 0;
}
.burger-line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger-line_third {
  bottom: 0;
}
/* header style end */

main {
  margin: 0 20px 0 20px;
}

/* own-text style start */
.own-text {
  margin-top: 142px;
  margin-bottom: 136px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.own-text-white {
  font-weight: 700;
  font-size: 112px;
  line-height: 168px;
}
.own-text-gradient {
  font-weight: 700;
  font-size: 112px;
  line-height: 168px;
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* own-text style end */

/* button style start */
.button {
  width: 694px;
  margin: 0 auto;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;

  text-align: center;

  margin-bottom: 50px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button-get-start {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: white;

  width: 313px;
  height: 77px;

  background: #326cf9;

  border-radius: 10px;
}
.button-get-start:hover,
.button-get-start:focus,
.button-get-start:active {
  opacity: 75%;
}

.button-view {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  width: 313px;
  height: 77px;

  background: #000000;

  border: 1px solid #707070;
  border-radius: 10px;
}
.button-view:hover,
.button-view:focus,
.button-view:active {
  opacity: 75%;
}
.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-dot {
  margin-right: 9px;
}
.button-text-margin {
  margin-left: 9px;
}
/* button style end */

/* wclm style start */
.wclm {
  margin-top: 188px;
}
.wclm-title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  display: flex;
  justify-content: center;
}
.wclm-container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wclm-text-block {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wclm-text-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.wclm-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
/* wclm style end */

/* step style start */
.step {
  margin-top: 160px;
}
.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-steps {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;

  text-align: center;
}
.step-title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;

  text-align: center;
}
.step-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;

  text-align: center;

  margin-bottom: 34px;
}
.step-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  width: 313px;
  height: 77px;

  background: #000000;

  border: 1px solid #707070;
  border-radius: 10px;
}
.step-button:hover,
.step-button:focus,
.step-button:active {
  opacity: 75%;
}
/* step style end */

/* your-homepage style start */
.your-homepage {
  margin: 0 auto;
  margin-top: 183px;
}
.your-homepage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.your-homepage-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 80px;
}
.your-homepage-text {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  margin-bottom: 30px;
}
.your-homepage-bullet {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.your-homepage-button {
  margin-top: 66px;
}
.your-homepage-button-get-start {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;

  width: 207px;
  height: 65px;

  background: #326cf9;

  border-radius: 10px;
}
.your-homepage-button-get-start:hover,
.your-homepage-button-get-start:focus,
.your-homepage-button-get-start:active {
  opacity: 75%;
}
.your-homepage-button-view-demo {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  width: 207px;
  height: 65px;

  background: #000000;

  border: 1px solid #707070;
  border-radius: 10px;
}
.your-homepage-button-view-demo:hover,
.your-homepage-button-view-demo:focus,
.your-homepage-button-view-demo:active {
  opacity: 75%;
}
/* your-homepage style end */

/* one-link style start */
.one-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one-link-img {
  width: 99%;
}
.one-link-button {
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: white;

  width: 283px;
  height: 74px;

  background: #326cf9;

  border-radius: 10px;
}
.one-link-button:hover,
.one-link-button:focus,
.one-link-button:active {
  opacity: 75%;
}
/* one-link style end */

/* exp-agr-text style start */
.exp-agr {
  margin-top: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp-agr-text {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}
.exp-agr-img {
  width: 99%;
}
/* exp-agr-text style end */

/* audience style start */
.audience {
  margin-top: 188px;
  padding-top: 301px;
  height: 800px;
  background: url(../img/Image-5.png) no-repeat center;
}
.audience-text {
  font-weight: 600;
  font-size: 70px;
  line-height: 105px;

  text-align: center;
}
/* audience style end */

/* get-start style start */
.get-start {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-start-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
}
.get-start-text {
  font-weight: 400;
  font-size: 43px;
  line-height: 64px;
  text-align: center;
}
.get-start-button {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #ffffff;

  width: 472px;
  height: 102px;

  background: #326cf9;
  border-radius: 10px;
}
.get-start-button:hover,
.get-start-button:focus,
.get-start-button:active {
  opacity: 75%;
}
/* get-start style end */

/* footer style start */
footer {
  margin-top: 183px;
  margin-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer-logo-text {
  margin-right: 24px;
  font-weight: 800;
  font-size: 42px;
  line-height: 63px;
  display: flex;
  align-items: center;
}
.footer-nav-bar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer-nav-bar-link {
  margin-right: 46px;
}
.footer-nav-bar-link:hover,
.footer-nav-bar-link:focus,
.footer-nav-bar-link:active {
  opacity: 75%;
}
/* footer style end */

/* adaptive style start */
@media screen and (max-width: 1475px) {
  .your-homepage-img {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .header-container {
    justify-content: space-between;
  }
  .header-burger {
    display: block;
  }

  .header-nav-bar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    align-items: normal;
    padding: 75px;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header-nav-bar-active {
    transform: translateX(0);
  }

  .header-nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 200px;
    z-index: 11;
  }
  .header-nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #707070;
    position: absolute;
    top: 50%;
  }
  .header-nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header-nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header-log-sig {
    align-items: normal;
    flex-direction: column;
  }
  .header-log {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  .header-nav-bar-container {
    flex-direction: column;
  }
  .header-nav-bar-list {
    margin-bottom: 30px;
  }
  .header-nav-bar-link {
    width: 100%;
    margin-right: 0;
    font-size: 42px;
    line-height: 48px;
  }
}
@media screen and (max-width: 770px) {
  .own-text-white {
    font-size: 80px;
    line-height: 120px;
    text-align: center;
  }
  .own-text-gradient {
    font-size: 80px;
    line-height: 120px;
    text-align: center;
  }
  .wclm-title {
    text-align: center;
  }
  .wclm-text-title {
    flex-direction: column;
    height: 130px;
  }
  .wclm-text {
    text-align: center;
  }
  .exp-agr {
    display: none;
  }
  .get-start-title {
    text-align: center;
  }
}
@media screen and (max-width: 730px) {
  .button {
    width: 100%;
  }
}
/* adaptive style end */
